* text=auto !eol
common/pom.xml -text svneol=unset#text/plain
common/src/main/java/org/onehippo/forge/folderctxmenus/common/AbstractFolderCopyOrMoveTask.java -text svneol=unset#text/plain
common/src/main/java/org/onehippo/forge/folderctxmenus/common/AbstractFolderTask.java -text svneol=unset#text/plain
common/src/main/java/org/onehippo/forge/folderctxmenus/common/FolderCopyTask.java -text svneol=unset#text/plain
common/src/main/java/org/onehippo/forge/folderctxmenus/common/FolderMoveTask.java -text svneol=unset#text/plain
common/src/main/java/org/onehippo/forge/folderctxmenus/common/UUIDUtils.java -text svneol=unset#text/plain
frontend/pom.xml -text svneol=unset#text/plain
frontend/src/main/java/org/onehippo/forge/folderctxmenus/cms/plugin/AbstractFolderActionWorkflowMenuItemPlugin.java -text svneol=unset#text/plain
frontend/src/main/java/org/onehippo/forge/folderctxmenus/cms/plugin/AbstractFolderDialog.java -text svneol=unset#text/plain
frontend/src/main/java/org/onehippo/forge/folderctxmenus/cms/plugin/CopyFolderWorkflowMenuItemPlugin.java -text svneol=unset#text/plain
frontend/src/main/java/org/onehippo/forge/folderctxmenus/cms/plugin/CopyOrMoveFolderDialog.java -text svneol=unset#text/plain
frontend/src/main/java/org/onehippo/forge/folderctxmenus/cms/plugin/FolderActionDocumentArguments.java -text svneol=unset#text/plain
frontend/src/main/java/org/onehippo/forge/folderctxmenus/cms/plugin/FolderOnlyDocumentListFilter.java -text svneol=unset#text/plain
frontend/src/main/java/org/onehippo/forge/folderctxmenus/cms/plugin/FolderSelectionCmsJcrTree.java -text svneol=unset#text/plain
frontend/src/main/java/org/onehippo/forge/folderctxmenus/cms/plugin/ITreeNodeEventListener.java -text svneol=unset#text/plain
frontend/src/main/java/org/onehippo/forge/folderctxmenus/cms/plugin/MoveFolderWorkflowMenuItemPlugin.java -text svneol=unset#text/plain
frontend/src/main/resources/org/onehippo/forge/folderctxmenus/cms/plugin/AbstractFolderActionWorkflowMenuItemPlugin.html -text svneol=unset#text/plain
frontend/src/main/resources/org/onehippo/forge/folderctxmenus/cms/plugin/AbstractFolderActionWorkflowMenuItemPlugin.properties -text svneol=unset#text/plain
frontend/src/main/resources/org/onehippo/forge/folderctxmenus/cms/plugin/CopyOrMoveFolderDialog.css -text svneol=unset#text/plain
frontend/src/main/resources/org/onehippo/forge/folderctxmenus/cms/plugin/CopyOrMoveFolderDialog.html -text svneol=unset#text/plain
frontend/src/main/resources/org/onehippo/forge/folderctxmenus/cms/plugin/CopyOrMoveFolderDialog.properties -text svneol=unset#text/plain
frontend/src/main/resources/org/onehippo/forge/folderctxmenus/cms/plugin/copy-folder-16.png -text
frontend/src/main/resources/org/onehippo/forge/folderctxmenus/cms/plugin/move-folder-16.png -text
/pom.xml -text svneol=unset#application/xml
repository/pom.xml -text svneol=unset#text/plain
repository/src/main/resources/folderctxmenus/folder-copy-menuitem.xml -text svneol=unset#text/plain
repository/src/main/resources/folderctxmenus/folder-move-menuitem.xml -text svneol=unset#text/plain
repository/src/main/resources/hippoecm-extension.xml -text svneol=unset#text/plain
src/site/resources/highlight-source-elements.js -text
src/site/resources/images/copyfolder1.png -text
src/site/resources/images/copyfolder2.png -text
src/site/resources/images/foldercpmvmenus.png -text
src/site/resources/images/movefolder1.png -text
src/site/resources/images/movefolder2.png -text
src/site/resources/jquery-1.11.3.min.js -text
src/site/resources/sh/scripts/shAutoloader.js -text
src/site/resources/sh/scripts/shBrushAS3.js -text
src/site/resources/sh/scripts/shBrushAppleScript.js -text
src/site/resources/sh/scripts/shBrushBash.js -text
src/site/resources/sh/scripts/shBrushCSharp.js -text
src/site/resources/sh/scripts/shBrushColdFusion.js -text
src/site/resources/sh/scripts/shBrushCpp.js -text
src/site/resources/sh/scripts/shBrushCss.js -text
src/site/resources/sh/scripts/shBrushDelphi.js -text
src/site/resources/sh/scripts/shBrushDiff.js -text
src/site/resources/sh/scripts/shBrushErlang.js -text
src/site/resources/sh/scripts/shBrushGroovy.js -text
src/site/resources/sh/scripts/shBrushJScript.js -text
src/site/resources/sh/scripts/shBrushJava.js -text
src/site/resources/sh/scripts/shBrushJavaFX.js -text
src/site/resources/sh/scripts/shBrushPerl.js -text
src/site/resources/sh/scripts/shBrushPhp.js -text
src/site/resources/sh/scripts/shBrushPlain.js -text
src/site/resources/sh/scripts/shBrushPowerShell.js -text
src/site/resources/sh/scripts/shBrushPython.js -text
src/site/resources/sh/scripts/shBrushRuby.js -text
src/site/resources/sh/scripts/shBrushSass.js -text
src/site/resources/sh/scripts/shBrushScala.js -text
src/site/resources/sh/scripts/shBrushSql.js -text
src/site/resources/sh/scripts/shBrushVb.js -text
src/site/resources/sh/scripts/shBrushXml.js -text
src/site/resources/sh/scripts/shCore.js -text
src/site/resources/sh/scripts/shLegacy.js -text
src/site/resources/sh/styles/shCore.css -text
src/site/resources/sh/styles/shCoreDefault.css -text
src/site/resources/sh/styles/shCoreDjango.css -text
src/site/resources/sh/styles/shCoreEclipse.css -text
src/site/resources/sh/styles/shCoreEmacs.css -text
src/site/resources/sh/styles/shCoreFadeToGrey.css -text
src/site/resources/sh/styles/shCoreMDUltra.css -text
src/site/resources/sh/styles/shCoreMidnight.css -text
src/site/resources/sh/styles/shCoreRDark.css -text
src/site/resources/sh/styles/shThemeDefault.css -text
src/site/resources/sh/styles/shThemeDjango.css -text
src/site/resources/sh/styles/shThemeEclipse.css -text
src/site/resources/sh/styles/shThemeEmacs.css -text
src/site/resources/sh/styles/shThemeFadeToGrey.css -text
src/site/resources/sh/styles/shThemeMDUltra.css -text
src/site/resources/sh/styles/shThemeMidnight.css -text
src/site/resources/sh/styles/shThemeRDark.css -text
src/site/site.xml -text svneol=unset#application/xml
src/site/xdoc/index.xml -text svneol=unset#application/xml
src/site/xdoc/install.xml -text svneol=unset#application/xml
src/site/xdoc/release-notes.xml -text svneol=unset#application/xml
