* text=auto !eol
common/pom.xml -text svneol=unset#text/plain
common/src/main/java/org/onehippo/forge/folderctxmenus/common/AbstractFolderCopyOrMoveTask.java -text svneol=unset#text/plain
common/src/main/java/org/onehippo/forge/folderctxmenus/common/AbstractFolderTask.java -text svneol=unset#text/plain
common/src/main/java/org/onehippo/forge/folderctxmenus/common/FolderCopyTask.java -text svneol=unset#text/plain
common/src/main/java/org/onehippo/forge/folderctxmenus/common/FolderMoveTask.java -text svneol=unset#text/plain
common/src/main/java/org/onehippo/forge/folderctxmenus/common/JcrCopyUtils.java -text
common/src/main/java/org/onehippo/forge/folderctxmenus/common/JcrTraverseUtils.java -text svneol=unset#text/plain
common/src/main/java/org/onehippo/forge/folderctxmenus/common/NodeTraverser.java -text svneol=unset#text/plain
common/src/main/java/org/onehippo/forge/folderctxmenus/common/UUIDUtils.java -text svneol=unset#text/plain
frontend/pom.xml -text svneol=unset#text/plain
frontend/src/main/java/org/onehippo/forge/folderctxmenus/cms/plugin/AbstractFolderActionWorkflowMenuItemPlugin.java -text svneol=unset#text/plain
frontend/src/main/java/org/onehippo/forge/folderctxmenus/cms/plugin/AbstractFolderDialog.java -text svneol=unset#text/plain
frontend/src/main/java/org/onehippo/forge/folderctxmenus/cms/plugin/CopyFolderWorkflowMenuItemPlugin.java -text svneol=unset#text/plain
frontend/src/main/java/org/onehippo/forge/folderctxmenus/cms/plugin/CopyOrMoveFolderDialog.java -text svneol=unset#text/plain
frontend/src/main/java/org/onehippo/forge/folderctxmenus/cms/plugin/FolderActionDocumentArguments.java -text svneol=unset#text/plain
frontend/src/main/java/org/onehippo/forge/folderctxmenus/cms/plugin/FolderOnlyDocumentListFilter.java -text svneol=unset#text/plain
frontend/src/main/java/org/onehippo/forge/folderctxmenus/cms/plugin/FolderSelectionCmsJcrTree.java -text svneol=unset#text/plain
frontend/src/main/java/org/onehippo/forge/folderctxmenus/cms/plugin/ITreeNodeEventListener.java -text svneol=unset#text/plain
frontend/src/main/java/org/onehippo/forge/folderctxmenus/cms/plugin/MoveFolderWorkflowMenuItemPlugin.java -text svneol=unset#text/plain
frontend/src/main/resources/org/onehippo/forge/folderctxmenus/cms/plugin/AbstractFolderActionWorkflowMenuItemPlugin.html -text svneol=unset#text/plain
frontend/src/main/resources/org/onehippo/forge/folderctxmenus/cms/plugin/AbstractFolderActionWorkflowMenuItemPlugin.properties -text svneol=unset#text/plain
frontend/src/main/resources/org/onehippo/forge/folderctxmenus/cms/plugin/CopyOrMoveFolderDialog.css -text svneol=unset#text/plain
frontend/src/main/resources/org/onehippo/forge/folderctxmenus/cms/plugin/CopyOrMoveFolderDialog.html -text svneol=unset#text/plain
frontend/src/main/resources/org/onehippo/forge/folderctxmenus/cms/plugin/CopyOrMoveFolderDialog.properties -text svneol=unset#text/plain
frontend/src/main/resources/org/onehippo/forge/folderctxmenus/cms/plugin/copy-folder-16.png -text
frontend/src/main/resources/org/onehippo/forge/folderctxmenus/cms/plugin/move-folder-16.png -text
/pom.xml -text svneol=unset#application/xml
repository/pom.xml -text svneol=unset#text/plain
repository/src/main/resources/folderctxmenus/folder-copy-menuitem.xml -text svneol=unset#text/plain
repository/src/main/resources/folderctxmenus/folder-move-menuitem.xml -text svneol=unset#text/plain
repository/src/main/resources/hippoecm-extension.xml -text svneol=unset#text/plain
src/site/resources/images/copyfolder1.png -text
src/site/resources/images/copyfolder2.png -text
src/site/resources/images/foldercpmvmenus.png -text
src/site/resources/images/movefolder1.png -text
src/site/resources/images/movefolder2.png -text
src/site/site.xml -text svneol=unset#application/xml
src/site/xdoc/index.xml -text svneol=unset#application/xml
src/site/xdoc/install.xml -text svneol=unset#application/xml
src/site/xdoc/release-notes.xml -text svneol=unset#application/xml
